<html>
<head>
	<style>
	.para{
		font-size:20px;
		justify-content: flex-start;
	}
	.pr{
		padding:0 0 0 0;
		font-size:20px;
	}
	</style>
<title>Score Submission</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />'
</head>
<body>
	<div class="row">
	<div class="col-md-6 text-center">
	
	<p class="para">
		
	</p>
	</div>
	<div class="col-md-offset-5 col-md-20" style="margin-left : 180px; padding: 50px;box-shadow: 2px 2px 2px 2px #ddd;background: #ddd;">
		<form method="POST">
			<div class="form-group">
				<p class="pr" >Extraversion</p></br>
		    <input name="text" align = "center" class="form-control"><br>
		</div>
		    <div class="form-group">
			    <p class="pr">Agreeableness</p>
		    <input name="text" align = "center" class="form-control"><br>
		</div>
		    <div class="form-group">
			    <p class="pr">Conscientiousness</p>
		    <input name="text" align = "center" class="form-control"><br>
		</div>
		    <div class="form-group">
			    <p class="pr">Neuroticism</p>
		    <input name="text" align = "center" class="form-control"><br>
		</div>
		    <div class="form-group">
			    <p class="pr">Openness to experience</p>
		    <input name="text" align = "center" class="form-control">
		 </div>
		 <input type="submit" class="btn btn-success" value="Submit Respnonse">
		</form>
	</div>
    </div>
</body>
</html>
